extends /layout.pug

block content
  div.content
    if error
      div.notification.is-danger
        p
          | <strong>Error</strong>: #{error}
    
    if !session
      h2.subtitle 
        | You are not logged in, please <a href="/login"/>login</a>
    else
      p.is-size-4.has-text-centered
        | Hello <strong>#{session.sub}</strong>, you are logged in as a <strong>#{session.role}</strong>.

      if session.role === 'admin'
        p.is-size-4.has-text-centered
          | as an <strong>admin</strong> you have access to the most powerful spell
        p.is-size-4.has-text-centered
          a.button.is-danger(id="powerful-features" href="#") Exploding confetti spell
      else
        p.is-size-4.has-text-centered
          | unfortunately you have no spells with your role...
        
